<main class="main">
  <h1>Make do with what you got</h1>
  <section id="addIngredientSection">
    <form>
      <input
        type="text"
        placeholder="input ingredient to save"
        id="searchbar"
        [formControl]="ingredientFormController"
      />
      <button
        class="primary"
        type="button"
        id="addIngredient"
        (click)="addToCurIngredientsList()"
        clickable
      >
        Add
      </button>
    </form>
  </section>
  <div id="displaySection">
    <section id="addedIngredientsSection">
      <h2>With the following...</h2>
      <ul>
        <li *ngFor="let item of curIngredientList">
          <a href="#">{{ item }}</a>
        </li>
      </ul>
    </section>
    <button
      class="primary"
      type="button"
      id="searchDrinks"
      (click)="searchCocktail()"
    >
      Search
    </button>
    <section id="possibleDrinksSection">
      <h2>You can Make...</h2>
    </section>
  </div>
</main>

<router-outlet />
