@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Playfair+Display:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

input[type="text"] {
  border: solid 1px black;
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
  background-color: white;
}

main {
  margin: 0;
  padding: 0;
  text-align: center;
}

#displaySection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnDef {
  color: black;
  background-color: white;
}

.title {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.menuText {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#addedIngredientsSection,
#possibleDrinksSection {
  border: solid 1px black;
  display: inline-block;
  margin-top: 25px;
  width: 500px;
  height: auto;
  background-color: bisque;
}

#searchDrinks {
  margin: 0 100px;
  margin-top: 25px;
}
