<main class="main">
  <h1 class="text-stone-300	">Make do with what you got</h1>
  <hlm-toaster />
  <section id="addIngredientSection">
    <form>
      <input
        type="text"
        placeholder="input ingredient to save"
        id="searchbar"
        [formControl]="ingredientFormController"
        hlmInput
      />
      <button
        class="primary btnDef"
        type="button"
        id="addIngredient"
        (click)="addToCurIngredientsList()"
        clickable
        hlmBtn
      >
        Add
      </button>
    </form>
  </section>
  <div id="displaySection">
    <section id="addedIngredientsSection" class="rounded-lg">
      <h2 class="text-lg">Ingredients</h2>
      <hlm-table>
        <hlm-caption>make sure you spelled it correctly</hlm-caption>
        @for (item of curIngredientList; track item) {
          <hlm-trow class="border-black	border-dotted">
            <hlm-td class=" w-80">{{ item }}</hlm-td>
            <hlm-td class="justify-end w-40"><button hlmBtn variant='link'  (click)="removeItem(item)">remove</button></hlm-td>
          </hlm-trow>
        }
      </hlm-table>
    </section>
    <button
      class="primary btnDef mt-10"
      type="button"
      id="searchDrinks"
      (click)="searchCocktail()"
      hlmBtn
    >
      Search
    </button>
    <section id="possibleDrinksSection" class="rounded-lg">
      <h2 class="text-lg">Cocktails</h2>
      <div #spinner style="display: none;">
        <hlm-spinner />
      </div>
      <div hlmAccordion>
        @for (item of curCockTailList; track item) {
          <div hlmAccordionItem>
            <button hlmAccordionTrigger>
                {{item.name}}
                <hlm-icon hlmAccIcon />
            </button>
            <brn-accordion-content hlm>
              <p class="font-semibold"> {{item.name}} Ingredients</p>
              <ul>
                @for (ingr of item.ingredients; track ingr) {
                  <li>{{ingr}}</li>
                }
              </ul>
              <p class="mt-6 font-semibold">Instructions</p>
              {{item.instructions}}
            </brn-accordion-content>
        </div>
        }
      </div>
    </section>
  </div>

</main>

<router-outlet />
